<h1>Check Weather</h1>

<%= form_with url: weather_forecast_path, method: :get, data: { turbo_frame: "weather_frame" }, local: true do |form| %>
  <div>
    <%= form.label :address, "Enter Zip Code:" %>
    <%= form.text_field :address, placeholder: "e.g., 600001", required: true %>
  </div>
  <br>
  <div>
    <%= form.submit "Get Forecast" %>
    <%= button_tag "Clear", type: "reset", class: "clear-button" %>
  </div>
<% end %>


<turbo-frame id="weather_frame">
  <% if @forecast_data %>
    <%= render partial: "weather/weather_data", locals: { weather_data: @forecast_data } %>
  <% end %>
</turbo-frame>
